<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE MODE SYSTEM "xmode.dtd">
<MODE>
	<PROPS>
		<PROPERTY NAME="lineComment" VALUE="#" />
	</PROPS>
	<RULES HIGHLIGHT_DIGITS="TRUE">
		<KEYWORDS>
			<OPERATOR>=</OPERATOR>
		</KEYWORDS>
		<EOL_SPAN TYPE="COMMENT1" AT_LINE_START="TRUE">;</EOL_SPAN>
		<EOL_SPAN TYPE="COMMENT1" AT_LINE_START="FALSE">#</EOL_SPAN>
		
		
		<SEQ_REGEXP TYPE="KEYWORD1">^[a-z0-9_.-]+(?=\s{0,99}=)</SEQ_REGEXP>
		<EOL_SPAN_REGEXP AT_LINE_START="FALSE" AT_WHITESPACE_END="FALSE" AT_WORD_START="FALSE" MATCH_TYPE="MARKUP">\[.*</EOL_SPAN_REGEXP>
	</RULES>
</MODE>
